/* .taskProgressBar {
    margin-top: 5%;
    margin-bottom: 8%;
} */

/* .col {
    border: 5px solid #f00;
} */

.d-flex-left {
    text-align:left;
    justify-content:left;
}

.d-flex {
    text-align:center;
    justify-content:center;
}

.mt-n1 {
    margin-top: -1rem !important;
}